body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.intelligence-office-container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
}

.sat-control {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  margin: 10px;
  border-style: inset;
  border-width: 8px;
  border-color: grey;

  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
}
.page-title{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color:rgba(255, 0, 0, 0.39);
  background-image: url(./helpers/but-crest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'IM Fell English SC', serif;
  color: rgb(241, 181, 0);
  margin: 10px;
  padding: 1px;
}


.safe-channel {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 10px;
  border-style: inset;
  border-width: 8px;
  border-color: grey;

  background-color: rgba(171, 171, 171, 0.39);
  min-height: 70vh;
  max-height: 70vh;
}
.message-list{
  min-height: 60vh;
  max-height: 60vh;
  overflow: scroll;
}
.chat-box{
  border-style: solid;
  background-color: rgba(171, 171, 171, 0.39);
  border-width: 1px;
  border-color: black;

  min-height: 10vh;
  max-height: 10vh;

}
.leaflet-container {
  height: 100%;
}

.data-library {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

  margin: 10px;
  border-style: inset;
  border-width: 8px;
  border-color: grey;
}

.artifact-storage {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin: 10px;
  border-style: inset;
  border-width: 8px;
  border-color: grey;
}



.map-container{
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;

}
.sat-side-bar{
  background-color:#282828;
  font-family: 'Oswald', serif;
  color: rgb(241, 181, 0);
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
}

.search-form, .scan-for-txt, .artifact-selection-list, .scan-button-container, .scan-message {
  width: 80%;
  padding-left: 5px;
}
.search-form{
  padding-top: 4px;
}

.scan-button{
  margin: auto;
  width: 80%;
  padding: 10px;
}

.img-thumbnails{
  max-height: 50px;
}

.artifact{
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius:3px 3px 3px 3px;
}

.data-library-body{
  padding: 20px;
  font-family: 'Press Start 2P';
  font-size: 80%;
  line-height: 1.6;
  background-color:black;
  color: rgb(46, 176, 0);
  border-style: inset;
  border-width: 4px;
  border-color: rgba(200, 144, 0, 0.71);
}

.data-library-title{
  color: rgb(46, 176, 0);
}

.search-field{
  background-color:black;
  font-family: inherit;
  color: inherit;
}

.data-search-button{
  background-color: black;
  border: solid;
  border-color: rgb(46, 176, 0);
  color: rgb(46, 176, 0);
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  font-family: 'Press Start 2P';
  display: inline-block;
}

.text-area, .text-submit{
  margin: 5%;
}

a{
    pointer-events: none;
    color: inherit;
    text-decoration: none;
}

.message{
    font-family: 'Special Elite', serif;
    margin: 10px;
    font-size: 110%;

}

#panel {
	list-style:none;
	padding-top:10px;
	display:inline-block;
}

#panel li {
	border-radius:3px 3px 3px 3px;
	margin-top:5px;

	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	background: -o-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111;
        border-top:1px solid #111;
        border-right:1px solid #333;
        border-bottom:1px solid #333;
}

#panel li {
	color:rgb(241, 181, 0);
	display:block;
	padding:10px;
}

#panel li:hover {
	color:#78c200;
}

#panel li.animation {
	-moz-transition: all 0.4s ease-in-out;
	-moz-transform:translateX(0px);
	-o-transition: all 0.4s ease-in-out;
	-o-transform:translateX(0px);
	-webkit-transition: all 0.2s ease-in-out;
	-webkit-transform:translateX(0px);
}

#panel li.animation:hover {
	-moz-transform:translateX(25px);
	-o-transform:translateX(25px);
	-webkit-transform:translateX(25px);
}
